.sectionComponent {
    padding: 0px;
}

.sectionComponent > .topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sectionComponent > .items {
    padding: 0px;
}

.sectionComponent > .items > * {
    display: inline-block;
}